[Unit]
Description=Tramites Backend
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/tramites
ExecStart=/usr/bin/java -jar demo-0.0.1-SNAPSHOT.jar --spring.config.additional-location=file:/home/ec2-user/tramites/application.yml
SuccessExitStatus=143
StandardOutput=append:/home/ec2-user/tramites/spring-logs.txt
StandardError=append:/home/ec2-user/tramites/spring-logs.txt

[Install]
WantedBy=multi-user.target
